@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.result h2:nth-child(2) {
    margin-left: 80px;
}

h1 {
    margin-bottom: 24px;
}

#pingPongCanvas {
    width: 900px;
    height: 550px;
    border: 1px solid #000000;
}